---
layout: base
---
<div class="container">
<div class="row">
<div class="col-md-8 col-md-offset-2">

<style>
.header {
    background: url(/static/header.jpg) center;
    padding: 50px 0;
    margin-top: 10px;
    margin-bottom: 20px;
}

h1 {
    color: white;
}

h2 {
    background: url(/static/header.jpg) center;
    padding: 10px;
    color: white;
}

blockquote {
    font-size: 14px;
}
</style>

<p style="text-align: right; margin-top: 10px;">
<a href="https://sikasw.com">sikasw.com</a>
| <a href="https://docker-training.eu">docker-training.eu</a>
{% comment %}
| <a href="https://gitlab-training.eu">gitlab-training.eu</a>
| <a href="https://ci-training.eu">ci-training.eu</a>
{% endcomment %}
</p>

<div class="header">
    <center>
        <h1>Git Training Europe</h1>
        <span style="color: white;">by <a href="https://sikasw.com" style="color: white;"><b>Ondrej Sika</b></a><!-- | <a href="https://skoleni.io" style="color: white;">Skoleni.io</a>--></span>
        <br>
        <br>
        <a href="/registration.html" class="btn btn-large btn-success">Register for a training</a>
        <a href="/#contact" class="btn btn-large btn-success">Contact</a>
    </center>
</div>

{{ content }}

<hr />

<p style="font-size: 0.7em; text-align: right;">This is an <a href="https://ondrejsika.com" style="font-size: 1em;">Ondrej Sika</a>'s project.</p>



</div>
</div>
</div>

