---
layout: base
---
<div class="container">
<div class="row">
<div class="col-md-8 col-md-offset-2">

<style>
.header {
    background: url(/static/header.jpg) center;
    padding: 50px 0;
    margin-top: 10px;
    margin-bottom: 20px;
}

h1 {
    color: white;
}

h2 {
    background: url(/static/header.jpg) center;
    padding: 10px;
    color: white;
}

blockquote {
    font-size: 14px;
}
</style>

<div class="header" style="margin-top: 20px;">
    <center>
        <h1>Školení Git</h1>
        <span style="color: white;">by <a href="https://ondrej-sika.cz?x_sika_source=skoleni-git.cz&utm_source=skoleni-git.cz" style="color: white;"><b>Ondrej Sika</b></a> | <a href="https://ondrej-sika.cz/skoleniio?x_sika_source=skoleni-git.cz&utm_source=skoleni-git.cz" style="color: white;">Skoleni.io</a></span>
        <br>
        <br>
        <a href="https://ondrej-sika.cz/skoleni/git/poptavka/?x_sika_source=skoleni-git.cz&utm_source=skoleni-git.cz" class="btn btn-large btn-success">Nezávazně poptat školení</a>
        <a href="/#kontakt" class="btn btn-large btn-success">Kontaktovat</a>
    </center>
</div>

{{ content }}

<hr />

<p><strong>Školení Git</strong> by <a href="https://ondrej-sika.cz?x_sika_source=skoleni-git.cz&utm_source=skoleni-git.cz">Ondrej Sika</a></p>



</div>
</div>
</div>

