---
layout: base
---
<div class="container">
<div class="row">
<div class="col-md-8 col-md-offset-2">

<style>
.header {
    background: url(/static/header.jpg) center;
    padding: 50px 0;
    margin-top: 10px;
    margin-bottom: 20px;
}

h1 {
    color: white;
}

h2 {
    background: url(/static/header.jpg) center;
    padding: 10px;
    color: white;
}

blockquote {
    font-size: 14px;
}
</style>

<p style="text-align: right; margin-top: 10px;">
<a href="https://skoleni.io">skoleni.io</a>
| <a href="https://skoleni-docker.cz">skoleni-docker.cz</a>
| <a href="https://skoleni-gitlab.cz">skoleni-gitlab.cz</a>
| <a href="https://skoleni-ci.cz">skoleni-ci.cz</a>
</p>

<div class="header">
    <center>
        <h1>Školení Git</h1>
        <span style="color: white;">by <a href="https://bysika.cz" style="color: white;"><b>Ondrej Sika</b></a> | <a href="https://skoleni.io" style="color: white;">Skoleni.io</a></span>
        <br>
        <br>
        <a href="/registrace.html" class="btn btn-large btn-success">Objednat školení</a>
        <a href="/#kontakt" class="btn btn-large btn-success">Kontaktovat</a>
    </center>
</div>

{{ content }}

<hr />

<p>2017 / <a href="https://skoleni-git.cz">Školení Git</a> / <a href="https://skoleni-docker.cz">Školení Docker</a> / <a href="https://bysika.cz">Profesní web</a> / <a href="https://ondrejsika.com">Osobní web</a></p>



</div>
</div>
</div>

